In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [11]:
df = pd.read_csv('Titanic.csv')
df.head(10)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875
5         0       3    male  14.0   9.2250
6         1       3  female  30.0   7.6292
7         0       2    male  26.0  29.0000
8         1       3  female  18.0   7.2292
9         0       3    male  21.0  24.1500

In [12]:
le_df = LabelEncoder()
df['sex'] = le_df.fit_transform(df['Sex'])
df.head()

   Survived  Pclass     Sex   Age     Fare  sex
0         0       3    male  34.5   7.8292    1
1         1       3  female  47.0   7.0000    0
2         0       2    male  62.0   9.6875    1
3         0       3    male  27.0   8.6625    1
4         1       3  female  22.0  12.2875    0

In [14]:
inputs = df.drop(['Sex','sex','Survived'],axis='columns')
inputs.head()

   Pclass   Age     Fare
0       3  34.5   7.8292
1       3  47.0   7.0000
2       2  62.0   9.6875
3       3  27.0   8.6625
4       3  22.0  12.2875

In [15]:
outputs = df['Survived']
outputs.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [35]:
inputs.Age = inputs.Age.fillna(df['Age'].mean())
inputs.Fare = inputs.Fare.fillna(df['Fare'].mean())
inputs.head(15)

    Pclass       Age     Fare
0        3  34.50000   7.8292
1        3  47.00000   7.0000
2        2  62.00000   9.6875
3        3  27.00000   8.6625
4        3  22.00000  12.2875
5        3  14.00000   9.2250
6        3  30.00000   7.6292
7        2  26.00000  29.0000
8        3  18.00000   7.2292
9        3  21.00000  24.1500
10       3  30.27259   7.8958
11       1  46.00000  26.0000
12       1  23.00000  82.2667
13       2  63.00000  26.0000
14       1  47.00000  61.1750

In [36]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test, y_train, y_test = train_test_split(inputs,outputs,test_size=0.18)

In [63]:
len(X_train)

342

In [64]:
len(X_test)

76

In [65]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [66]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [67]:
model.score(X_test,y_test)

0.6447368421052632